table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  th, td {
    padding: 30px;
  }


img:hover {
    transform: scale(1.1);
  }

  .movies img {
      width: 75%;
  }